[Unit]
Description=xGestured - Lightweight Touchpad Gesture Daemon
After=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/bin/xgestured
Restart=on-failure
RestartSec=3

Environment="DISPLAY=:0"

[Install]
WantedBy=graphical-session.target